/**
 ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
 ░█▀▀░█░░░█░█░█▀▀░█▀▀░▀█▀░█▀▀░█▀█░▀█▀░
 ░█▀▀░█░░░█░█░█▀▀░█▀▀░░█░░█░░░█▀█░░█░░
 ░▀░░░▀▀▀░▀▀▀░▀░░░▀░░░▀▀▀░▀▀▀░▀░▀░░▀░░
 ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
 ░░░ github.com/flufficat/dotfiles ░░░
 ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
**/

/* Pywal */
@import url('file:///home/leon/.cache/wal/colors-waybar.css');


/*----------------*/ 
/* Blinking magic */
/*----------------*/
@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}


/*---------------*/ 
/* Global styles */
/*---------------*/

/* All */
* {border: none;font-family: "Ubuntu"; font-size: 14px;}

/* The whole bar */
window#waybar {background: transparent;}
window > box {
    margin: 4px;
    background: #37373a;
    border-radius: 10px;
}


/* Margins top and bottom */
#custom-power, #clock, #battery, #pulseaudio, #idle_inhibitor, #tray, #window, #workspaces, #workspaces button {margin-top: 0px; margin-bottom: 0px;}

/* Margins left and right */
#custom-power, #clock, #battery, #pulseaudio, #idle_inhibitor, #tray, #window, #workspaces, #workspaces button {margin-left: 0px; margin-right: 0px;}

/* Padding top and bottom */
#custom-power, #clock, #battery, #pulseaudio, #idle_inhibitor, #tray, #window, #workspaces, #workspaces button {padding-top: 1px; padding-bottom: 1px;}

/* Padding left and right */
#custom-power, #clock, #battery, #pulseaudio, #idle_inhibitor, #tray, #window, #workspaces, #workspaces button {padding-left: 8px; padding-right: 8px;}

/* Border radius */
#custom-power, #clock, #battery, #pulseaudio, #idle_inhibitor, #tray, #window, #workspaces, #workspaces button {border-radius: 1px;}

/* Shadow */
#custom-power, #clock, #battery, #pulseaudio, #idle_inhibitor, #tray, #window, #workspaces {background: transparent;}


/*---------------*/ 
/* Module styles */
/*---------------*/ 

#custom-power {
    margin-right: 4px;
    font-size:15px;
    padding-left: 10px;
    padding-right: 10px;
    color: @color5;
}

#clock {
    color: @color4;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: @color3;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
    background-color: #000000;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#pulseaudio {
    color: @color2;
}

#idle_inhibitor {
    padding-left: 6px;
    padding-right: 2px;
    color: @color1;
}

#tray {
    color: white;
}

#window {
    color: @foreground;
    margin-left: -2px;
}

#workspaces {
    color: white;
    font-weight: 100;
    font-style: normal;
    padding: 0;
    padding-right: 2.5px;
    margin-right: -2px;
}

#workspaces button {
    margin: 0;
    margin-right: 2px;
    padding: 2px;
}

#workspaces button.focused {
    color: @color2;
    font-weight: 900;
    font-style: italic;
    border-radius: 10px;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

/**
#mode {
    background: @highlight;
    border-bottom: 3px transparent;
    color:white;
    margin-left: 5px;
    padding: 7px;
}

#temperature.critical {
    color: red;
}

#backlight.icon {
    padding-right:1px;
    font-size: 13px;
    background-color: @base2;
    border-radius: 4px;
}
**/
