/**
 ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
 ░█▀▀░█░░░█░█░█▀▀░█▀▀░▀█▀░█▀▀░█▀█░▀█▀░
 ░█▀▀░█░░░█░█░█▀▀░█▀▀░░█░░█░░░█▀█░░█░░
 ░▀░░░▀▀▀░▀▀▀░▀░░░▀░░░▀▀▀░▀▀▀░▀░▀░░▀░░
 ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
 ░░░ github.com/flufficat/dotfiles ░░░
 ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
**/

/* Pywal */
@import url('file:///home/leon/.cache/wal/colors-waybar.css');


/*----------------*/ 
/* Blinking magic */
/*----------------*/
@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}


/*---------------*/ 
/* Global styles */
/*---------------*/

/* All */
* {border: none; }

/* The whole bar */
#waybar {background: transparent; color: #bebebe; font-family: "Ubuntu"; font-size: 14px;}

/* Margins top and bottom */
#custom-power, #clock, #battery, #pulseaudio, #idle_inhibitor, #tray, #window, #workspaces, #workspaces button {margin-top: 2px; margin-bottom: 2px;}

/* Margins left and right */
#custom-power, #clock, #battery, #pulseaudio, #idle_inhibitor, #tray, #window, #workspaces, #workspaces button {margin-left: 5px; margin-right: 5px;}

/* Padding top and bottom */
#custom-power, #clock, #battery, #pulseaudio, #idle_inhibitor, #tray, #window, #workspaces, #workspaces button {padding-top: 1px; padding-bottom: 1px;}

/* Padding left and right */
#custom-power, #clock, #battery, #pulseaudio, #idle_inhibitor, #tray, #window, #workspaces, #workspaces button {padding-left: 8px; padding-right: 8px;}

/* Border radius */
#custom-power, #clock, #battery, #pulseaudio, #idle_inhibitor, #tray, #window, #workspaces, #workspaces button {border-radius: 18px;}

/* Shadow */
#custom-power, #clock, #battery, #pulseaudio, #idle_inhibitor, #tray, #window, #workspaces {background: linear-gradient(45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));}

/* Text colour */

window#waybar {
    background-color: rgba(43, 48, 59, 1);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.empty {
    color: rgba(0,0,0,0);
}
#custom-power, #clock, #battery, #pulseaudio, #idle_inhibitor, #tray, #window, #workspaces, #workspaces button {color: #e6e6e6;}


/*---------------*/ 
/* Module styles */
/*---------------*/ 

#custom-power {
    margin-right: 8px;
    font-size:15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: @color5;
}

#clock {
    background-color: @color4;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: @color2;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
    background-color: #000000;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#pulseaudio {
    background-color: @color3;
}

#idle_inhibitor {
    padding-left: 6px;
    padding-right: 2px;
    background-color: @color6;
}

#tray {
    background-color: @color8;
}

#window {
    background: linear-gradient(-90deg, rgba(0,0,0,0.22), rgba(255,255,255,0.15));
    background-color: @color8;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -4px;
    border-radius: 0 18px 18px 0;
}

#workspaces {
    background: linear-gradient(90deg, rgba(0,0,0,0.22), rgba(255,255,255,0.15));
    font-size:13px;
    background-color: @color8;
    margin-left: 8px;
    margin-right: -4px;
    border-radius: 18px 0 0 18px;
}

#workspaces button {
    background: transparent;
    margin: 2px;
    padding: 2px;
    margin: 2px;
}

#workspaces button.focused {
    background: linear-gradient(45deg, rgba(0,0,0,0.4), rgba(255,255,255,0.5));
    background-color: @foreground;
    color: @background;
}

#workspaces button.urgent {
    border-color: #c9545d;
    background-color: #c9545d;
}

/**
#mode {
    background: @highlight;
    border-bottom: 3px transparent;
    color:white;
    margin-left: 5px;
    padding: 7px;
}

#temperature.critical {
    color: red;
}

#backlight.icon {
    padding-right:1px;
    font-size: 13px;
    background-color: @base2;
    border-radius: 4px;
}
**/
