/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

/*
Arc-Dark Color Scheme
*/

@import url('file:///home/leon/.cache/wal/colors-waybar.css');
@define-color highlight #9780b3 ;
@define-color base1  #404552 ;
@define-color base2  #5a6172 ;

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */
/*
window {
    color:      rgba(64, 69, 82, 1);
    background: rgba(29, 31, 33, 0.70);
}
*/
/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: transparent;
    color: #bebebe;
    font-family: "Ubuntu";
    font-size: 14px;

}

/* Every modules */
#battery,
#clock,
#backlight,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#custom-weather,
#network,
#pulseaudio,
#temperature,
#tray,
#idle_inhibitor,
#custom-PBPbattery {
}

/* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */



/* Margins top and bottom */
#custom-power, #clock, #battery, #pulseaudio, #idle_inhibitor, #tray, #window, #workspaces, #workspaces button {
    margin-top: 10px;
    margin-bottom: 10px;}


/* Margins left and right */
#custom-power, #clock, #battery, #pulseaudio, #idle_inhibitor, #tray, #window, #workspaces, #workspaces button {
    margin-left: 5px;
    margin-right: 5px;}


/* Padding top and bottom */
#custom-power, #clock, #battery, #pulseaudio, #idle_inhibitor, #tray, #window, #workspaces, #workspaces button {
    padding-top: 3px;
    padding-bottom: 3px;}


/* Padding left and right */
#custom-power, #clock, #battery, #pulseaudio, #idle_inhibitor, #tray, #window, #workspaces, #workspaces button {
    padding-left: 8px;
    padding-right: 8px;}


/* Border radius */
#custom-power, #clock, #battery, #pulseaudio, #idle_inhibitor, #tray, #window, #workspaces, #workspaces button {
    border-radius: 18px;}
    

/* Shadow */
#custom-power, #clock, #battery, #pulseaudio, #idle_inhibitor, #tray, #window, #workspaces,button.focused {
    background: linear-gradient(45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));

}

/* Text colour */
#custom-power, #clock, #battery, #pulseaudio, #idle_inhibitor, #tray, #window, #workspaces, #workspaces button {
    color: #e6e6e6;
}


#custom-power {
    margin-right: 8px;
    font-size:15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: @color5;
}

#clock {
    background-color: @color4;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: @color2;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
    background-color: #000000;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#pulseaudio {
    background-color: @color3;
}

#pulseaudio.muted {
    color: @highlight;
}

#idle_inhibitor {
    padding-left: 6px;
    padding-right: 2px;
    background-color: @color6;
}

#tray {
    background-color: @color8;
}

#window {
    background-color: @color8;
    padding-left: 10px;
    padding-right: 10px;
}

#workspaces {
    font-size:13px;
    background-color: @color8;
    margin-left: 8px;
}

#workspaces button {
    background: transparent;
    margin: 2px;
    padding: 4px;
}

#workspaces button.focused {
    background-color: @foreground;
    color: @background;
    padding: 4px;
    margin: 1px;
}

#workspaces button.urgent {
    border-color: #c9545d;
    background-color: #c9545d;
}

/***
#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}
*//*
#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
 }

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
    padding-left:5px;
    padding-right:5px;
}

#mode {
    background: @highlight;
    border-bottom: 3px transparent;
    color:white;
    margin-left: 5px;
    padding: 7px;
}

#network.disconnected {
    color: orange;
}

#temperature.critical {
    color: red;
}





#custom-launcher {
    font-size:15px;
    margin-left:15px;
    margin-right:10px;
}

#backlight.icon {
    padding-right:1px;
    font-size: 13px;
    background-color: @base2;
    border-radius: 4px;
}
***/
/**
#battery, #pulseaudio, #idle_inhibitor, #backlight, #clock, {
  margin: 4px 2px;
  padding: 0 6px;
  background-color: @base2;
  border-radius: 4px;
  min-width: 20px;
}
**/


