configuration {
	modi: "run,drun,filebrowser";  
	width: 50;
	lines: 5;
	eh: 1;  
	drun-display-format: "{name}";
	drun-match-fields: "name,generic";
  filebrowser {
  	directories-first: true;
	directory: "home/leon/Videos";
	}
}

@theme "w2000"
