/* Pywal */
@import url('file:///home/leon/.cache/wal/colors-waybar.css');

*{
    font-family: UbuntuMono;
}

#entry {
    border-radius: 16px;
    margin: 8px;
    background: linear-gradient(-45deg,rgba(0, 0, 0, 0.1),rgba(255, 255, 255, 0.1));
    background-color: @color6;
}

#entry:selected {
    margin: 8px;
    background: linear-gradient(-45deg,rgba(0, 0, 0, 0.1),rgba(255, 255, 255, 0.1));
    background-color: @foreground;
    border-radius: 16px;
}

#inner-box {
    background: transparent;
    border-radius: 16px;
    margin: 8px;
}

#input {
    margin-bottom: 15px;
    padding:3px;
    border-radius: 16px;
    border:none;
    color: @foreground;
    background: linear-gradient(45deg,rgba(0, 0, 0, 0.1),rgba(255, 255, 255, 0.2));
    background-color: @background;
}

#outer-box {
    margin: 0px;
    padding: 15px;
    background-color: @color8;
    border: 2px;
    border-color: @foreground;
    border-radius: 16px;
}

#text {
    padding: 5px;
    color: white;
}

window {
    border: 0px;
    border-radius: 16px;
    background-color: @color8;
}
